<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>429720274859-uv1ra5v7b8hums7p4u99p3njb1msvt5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429720274859-uv1ra5v7b8hums7p4u99p3njb1msvt5c</string>
	<key>API_KEY</key>
	<string>AIzaSyAR-EA2MdMv4uYpd58H7_7wbIZ4y3IVMm4</string>
	<key>GCM_SENDER_ID</key>
	<string>429720274859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sudungFireBase</string>
	<key>PROJECT_ID</key>
	<string>fluted-citizen-228310</string>
	<key>STORAGE_BUCKET</key>
	<string>fluted-citizen-228310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429720274859:ios:6ff9205d80ad48df</string>
	<key>DATABASE_URL</key>
	<string>https://fluted-citizen-228310.firebaseio.com</string>
</dict>
</plist>